@page "/cadastro"
@using AppPessoa.Models;
@using AppPessoa.Services;
@inject PessoaService pessoaService;
@inject NavigationManager navegacao;

<h3>Cadastrar Pessoa</h3>

<div class="container">
    <nav class="navbar navbar-light" style="background-color: darkgreen"></nav>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">NOME:</label>
        <input @bind="pessoa.Nome" type="text" class="form-control" id="exampleFormControlInput1" disabled="@campoBloqueado">
    </div>
    <div class="row align-items-start">
        <div class="col">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">CPF:</label>
                <input @bind="pessoa.Cpf" type="text" class="form-control" id="exampleFormControlInput2">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">DATA DE NASCIMENTO:</label>
                <input @bind="pessoa.DataNasc" type="date" class="form-control" id="exampleFormControlInput2">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">TELEFONE:</label>
                <input @bind="pessoa.Telefone" type="tel" class="form-control" id="exampleFormControlInput2">
            </div>
        </div>
    </div>

    <nav class="navbar navbar-light" style="background-color: white"></nav>
    @if (campoBloqueado == false)
    {
        <button type="button" class="btn btn-success" @onclick="Salvar">SALVAR</button>
        <button type="button" class="btn btn-primary" @onclick="NovoRegistro">CANCELAR</button>
    }


    <nav class="navbar navbar-light" style="background-color: white"></nav>

    <nav class="navbar navbar-light" style="background-color: darkgreen"></nav>

    <nav class="navbar navbar-light" style="background-color: white"></nav>
    @if (novo)
    {
        <div class="alert alert-success" role="alert">
            Salvo com Sucesso;
        </div>
        <button type="button" class="btn btn-primary" @onclick="NovoRegistro">NOVO REGISTRO</button>
    }

</div>

@code {
    private bool novo = false;
    private bool campoBloqueado = false;
    private Pessoa? pessoa = new Pessoa();
    private static int id = 0;

    public async Task Salvar()
    {
        pessoa.Id = ++id;
        await pessoaService.Add(pessoa);
        novo = true;
        campoBloqueado = true;
    }

    public void NovoRegistro()
    {
        novo = false;
        navegacao.NavigateTo("/cadastro", forceLoad: true);
    }

    public void Limpar()
    {
        pessoa.Nome = "";
        pessoa.Cpf = "";
        pessoa.DataNasc = null;
        pessoa.Telefone = "";
    }
}
